<% content_for :page_title do %>
  Invite User
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', Spree.t(:back_to_users_list),
                        spree.admin_users_path, class: 'btn btn-default' %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages',
           locals: { target: resource } %>

<%= form_for resource,
             as: resource_name,
             url: spree.spree_user_invitation_path(),
             html: { method: :post } do |f| %>
  <fieldset>
    <div>
      <% resource.class.invite_key_fields.each do |field| -%>
        <div class="form-group">
          <%= f.label field %>
          <%= f.text_field field, class: 'form-control' %>
        </div>
      <% end -%>
    </div>
    <div class="form-actions" data-hook="buttons">
      <%= button Spree.t('actions.create'),
                 'ok', 'submit', { class: 'btn-success' } %>
    </div>
  </fieldset>
<% end %>
